<nav
  class="navbar navbar-expand-lg bg-primary"
  data-bs-theme="dark"
  style="display: flex; flex-direction: column"
>
  <div class="container">
    <div>
      <img src="assets/logo.png" alt="Descripción de la imagen" />
    </div>
    <!-- <div>
        <h1>Super Market</h1>
      </div> -->
  </div>

  <div class="container menu">
    <div class="row">
      <div class="col">
        <button
          class="btn btn-light"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasUsuarios"
          aria-controls="offcanvasUsuarios"
        >
          Perfil
        </button>
      </div>

      <div class="col">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              >Inicio
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/productos']"
              routerLinkActive="router-link-active"
              >Productos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              >Iniciar Sesion</a
            >
          </li>
        </ul>
      </div>
      <div class="col columna3">
        <button
          class="btn btn-secondary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasCarrito"
          aria-controls="offcanvasCarrito"
        >
          Ver Carrito
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Offcanvas de usuarios -->
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasUsuarios"
  aria-labelledby="offcanvasUsuariosLabel"
>
  <div class="offcanvas-header bg-primary">
    <h5 id="offcanvasUsuariosLabel" style="margin: auto">Datos Usuario</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <!-- Contenido de los datos de usuarios -->
    <!-- Aquí se mostrarán los datos o el mensaje de iniciar sesión -->
    <div *ngIf="isLoggedIn() ; else loggedOut">
      <div *ngIf="getUserType() == 'cliente'">
        <h5 class="card-header">
          <h5>Bienvenid@</h5>
          <div style="text-align: center">
            {{ UserInfo?.nombres + " " + UserInfo?.apellidos }}
          </div>
        </h5>
        <div class="foto">
          <img
            [src]="getImageUrl(UserInfo.foto ?? '')"
            class="card-img-top"
            alt="{{ UserInfo.foto }}"
          />
        </div>
        <div class="datos-tabla">
          <div class="row align-items-start">
            <div class="col">Edad</div>
            <div class="col">{{ UserInfo?.edad }}</div>
          </div>
          <div class="row align-items-start">
            <div class="col">Sexo</div>
            <div class="col">{{ UserInfo?.sexo }}</div>
          </div>
          <div class="row align-items-start ">
            <div class="col">Correo</div>
            <div class="col">{{UserInfo?.correo }}</div>
          </div>
          
        </div>
      </div>
      <div *ngIf="getUserType() == 'admin'">
        <h5 class="card-header">
          <h5>Bienvenid@ Admin</h5>
          <div style="text-align: center">
            {{ UserInfo?.nombre}}
          </div>
        </h5>
        <div class="foto">
          <img
            [src]="getImageUrl(UserInfo.foto ?? '')"
            class="card-img-top"
            alt="{{ UserInfo.foto }}"
          />
        </div>
        <div class="datos-tabla">
          <div class="row align-items-start">
            <div class="col">Usuario</div>
            <div class="col">{{ UserInfo?.usuario }}</div>
          </div>
          <div class="row align-items-start">
            <div class="col">Contraseña</div>
            <div class="col">{{ UserInfo?.passw }}</div>
          </div>
        </div>
      </div>
      <!-- Boton de actualizar datos -->
      <div class="row align-items-start">
        <div class="col card-footer text-muted">
          <div style="text-align: center;">
            ¿Deseas actualizar tus datos personales?
          </div>
          <div class="col boton-update">
            <button type="button" class="btn btn-primary" (click)="redirectToUpdate()">Actualizar</button>
          </div>
        </div>
      </div>
      <div class="boton-cerrarSesesion">
        <button type="button" class="btn btn-danger" (click)="redirectToExit()">Cerrar Sesion</button>
      </div>
    </div>
    
    <!-- Mensaje si no hay una session iniciado -->
    <ng-template #loggedOut>
      <h6 style="text-align: center">
        Inicia sesión para acceder a tu cuenta.
      </h6>
      <div class="botones">
        <button class="btn btn-primary" (click)="redirectToLogin()">
          Iniciar Sesión
        </button>
        <button class="btn btn-secondary" (click)="redirectToRegister()">
          Registrarse
        </button>
      </div>
    </ng-template>
    <!-- Otros datos de usuario -->
  </div>
</div>


<!-- ------------------------------------------------------------------------------------- -->

<!-- Offcanvas del carrito -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasCarrito"
  aria-labelledby="offcanvasCarritoLabel"
>
  <div class="offcanvas-header bg-primary" >
      <h5 id="offcanvasCarritoLabel " style="margin: auto;">Carrito de Compras</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="CarritoItems.length > 0; else noHayProductos">
      <div *ngFor="let item of CarritoItems " class="contendorProductos">
        <h5 class="card-header">{{ item.Producto?.nombre }}</h5>
        <img [src]="getUrlImagen(item.Producto?.imagen ?? '')" class="card-img-top" alt="{{item.Producto?.imagen}}" style=" height: 250px ;object-fit: cover;">
        <p class="card-text"><strong>{{ item.Producto?.descripcion}}</strong></p> 
        <div class="row" >
          <div class="col card-header ">Precio</div>
          <div class="col card-header">Cantidad</div>
        </div>
        <div class="row">
          <div class="col" style="margin: auto;">{{ item.Producto?.precio | currency }}</div>
          <div *ngIf="!editar" class="col list-group-item" >{{ item.cantidad }}</div>
          <form [formGroup]="form">
            <input 
            *ngIf="editar"
            type="number" 
            name="cantidad"
            formControlName="cantidad"
            class="col"
            [(ngModel)]="item.cantidad" 
            min="1" />
          </form>
        </div>
        <div class="row">
          <div class="col card-header">Subtotal</div>
          <div class="col list-group-item">{{ item.subtotal | currency }}</div>
        </div>
        <!-- Botones de editar y eliminar -->
         <div class="botonesCarrito">
          <button class="btn btn-warning" *ngIf="editar" (click)="cancelarEdicion()">Cancelar</button>
          <button type="submit" class="btn btn-success" *ngIf="editar" (click)="updateCarrito()">Guardar</button>
           <button class="btn btn-primary" *ngIf="!editar" (click)="dataCarrito(item.id!)">Editar</button>
           <button class="btn btn-danger"  *ngIf="!editar" >Eliminar</button>
         </div> 
      </div>
    </div>
  </div>
  <div class="card-footer">Total: $0</div>
  <ng-template #noHayProductos>
    <p>No hay productos en el carrito.</p>
  </ng-template>
</div>
