<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" style="display: flex; flex-direction: column;">
    <div>
      <h1>Super Market</h1>
    </div>
    <div>
      <div>
        <ul class="navbar-nav me-auto" >
          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cerrar Sesion</a>
          </li>
        </ul>
      </div>

    </div>
</nav>


  