<div style="display: flex; justify-content: center;   margin-top: 2%;" >
  <form  [formGroup]="form" (ngSubmit)="AddUpdateUsuario()" enctype="multipart/form-data">
  <h5 class="modal-title">{{ titulo }} Usuarios</h5>
    <div class="form-group">
      <label for="inputAddress"></label>
      <input type="text" type="text" class="form-control" formControlName="nombre" id="nombre"
      placeholder="Nombre completo">
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="exampleInput" class="form-label mt-4">Usuario</label>
        <input type="text" class="form-control" formControlName="usuario" id="usuario" placeholder="" />
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInput" class="form-label mt-4">Contraseña</label>
        <input
          type="text"
          class="form-control"
          formControlName="passw"
          id="passw"
          placeholder="contraseña"
          autocomplete="off"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInput" class="form-label mt-4">Rol</label>
        <input
          type="text"
          class="form-control"
          formControlName="rol"
          id="rol"
          placeholder="admin"
          autocomplete="off"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInput" class="form-label mt-4">Foto</label>
        <input
          type="file"
          class="form-control"
          formControlName="foto"
          id="foto"
          placeholder="foto"
          autocomplete="off"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 2%;">{{boton}}</button>
  </form>

</div>
