<div style="display: flex; justify-content: center;   margin-top: 2%; padding-left: 10%;
    padding-right: 10%;" >
    <div class="row align-items-start">
      <h4 class="modal-title titulo">{{titulo}}</h4>
      <div class="col imagen">
        <img class="imagen" src="assets/registro.jpg" alt="">
      </div>
      <div class="col">
        <form  [formGroup]="form" (ngSubmit)="addClientes()" enctype="multipart/form-data">
            <!-- nombres y apellidos -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Nombres</label>
                <input type="text" class="form-control" formControlName="nombres" id="nombres" autocomplete="off" />
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Apellidos</label>
                <input type="text" class="form-control" formControlName="apellidos" id="apellidos" autocomplete="off"/>
              </div>
              
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Edad</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="edad"
                  id="edad"
                  autocomplete="off"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Sexo</label>
                <select class="form-control" id="sexo" formControlName="sexo">
                  <option>M</option>
                  <option>F</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Correo</label>
                <input type="text" class="form-control" formControlName="correo" id="correo" placeholder="" />
              </div>
              
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Foto</label>
                <input
                  type="file"
                  class="form-control"
                  formControlName="foto"
                  id="foto"
                  autocomplete="off"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Usuario</label>               
                <input type="text" class="form-control" formControlName="usuario" id="usuario" autocomplete="off"/>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInput" class="form-label mt-4">Contraseña</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="contrasena"
                  id="contrasena"
                  autocomplete="off"
                />
              </div>
            </div>
            <div style="text-align: center;">
              <button type="submit" class="btn btn-primary" style="margin-top: 2%; margin-bottom: 2%;">{{boton}}</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  